%h1 Listing holidays

= link_to 'New Holiday', new_holiday_path, :class => :button

%table
  %thead
    %tr
      %th Country
      %th Nights
      %th Earliest date
      %th Latest date
      %th Budget
      %th Adults
      %th Children
      %th{:colspan => 3}
  %tbody
    - @holidays.each do |holiday|
      %tr
        %td 
          = holiday.country.iso_2
          = "(#{holiday.region})" unless holiday.region.blank?
        %td= holiday.nights
        %td= holiday.earliest_date
        %td= holiday.latest_date
        %td
          =raw "&pound;#{holiday.budget} (#{budget_type(holiday)})"
        %td= holiday.adults
        %td= holiday.children
        %td= link_to 'Show', holiday
        %td= link_to 'Edit', edit_holiday_path(holiday)
        %td= link_to 'Destroy', holiday, :method => :delete, :data => { :confirm => 'Are you sure?' }
