= form_for [:agent, @holiday, @pitch] do |f|


  %p
    ="You are pitching on #{holiday_summary(@holiday)}"

  =render partial: 'layouts/shared/form_errors', locals: {subject: @pitch}  

  %fieldset
    %legend Your Estimates
    = f.label :min
    .row.collapse
      .small-1.large-1.columns
        %span.prefix &pound;
      .small-11.large-11.columns
        = f.number_field :min, :min => 1
    = f.label :max
    .row.collapse
      .small-1.large-1.columns
        %span.prefix &pound;
      .small-11.large-11.columns
        = f.number_field :max, :min => 2

  %fieldset
    %legend Level of expertise
    = f.radio_button :expertise, :familiar, checked: (@pitch.familiar? or @pitch.expertise.nil?)
    = f.label :expertise_familiar, "Our agency is <em>familiar</em> with this region".html_safe
    %br
    = f.radio_button :expertise, :expert, checked: @pitch.expert?
    = f.label :expertise_expert, "Our agency has <em>expert</em> knowledge of this region".html_safe
    %br
    = f.radio_button :expertise, :specialist, checked: @pitch.specialist?
    = f.label :expertise_specialist, "Our agency <em>specialises</em> in this region".html_safe
  %fieldset
    %legend Sell Yourself!
    = f.text_area :content, :style => "height: 200px"
  .actions
    = f.submit 'Save', :class => [:alert, :button]
    = link_to 'Back', agent_pitches_path, :class => :button
