%h1 Listing pitches

= paginate @pitches

%table
  %tr
    %th Country
    %th= sortable_column "Min", :min
    %th= sortable_column "Max", :max
    %th Expertise
    %th Status
    %th= sortable_column "Created", :created_at
    %th Pitch Seen by Customer?
    %th
    %th
    %th


  - @pitches.each do |pitch|
    %tr
      %td
        = flag_for pitch.holiday.country
        = pitch.holiday.country.iso_2
      %td= pitch.min
      %td= pitch.max
      %td= pitch.expertise
      %td= pitch.status
      %td= nice_date(pitch.created_at)
      %td= nice_boolean(pitch.seen?)
      %td
        %ul.button-group.radius.round
          %li= link_to 'Show', [:agent, pitch.holiday, pitch], :class => [:tiny, :secondary, :button]
          -if can? :edit, pitch
            %li= link_to 'Edit', edit_agent_holiday_pitch_path(pitch.holiday, pitch), :class => [:tiny, :secondary, :button]
          %li= link_to 'Destroy', [:agent, pitch.holiday, pitch], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => [:tiny, :secondary, :button]
          

= paginate @pitches
