%h1 Listing pitches

.row
  =form_tag find_by_ref_agent_pitches_path do
    .large-6.columns
      .row.collapse
        .small-10.columns
          =text_field_tag :ref, nil, placeholder: "Find by reference number", :required => true
        .small-2.columns
          =submit_tag "GO!", class: [:button, :postfix]        
                                                                          
= paginate @pitches

%table
  %tr
    %th Country
    %th= sortable_column "Min", :min
    %th= sortable_column "Max", :max
    %th Expertise
    %th Status
    %th= sortable_column "Created", :created_at
    %th Ref
    %th Pitch Seen by Customer?
    %th
    %th
    %th

  - @pitches.each do |pitch|
    %tr
      %td
        = flag_for pitch.holiday.country
        = pitch.holiday.country.iso_2
      %td= pitch.min
      %td= pitch.max
      %td= pitch.expertise
      %td= pitch.status
      %td= nice_date(pitch.created_at)
      %td= pitch.ref
      %td= nice_boolean(pitch.seen?)
      %td= link_to 'Manage', [:agent, pitch.holiday, pitch], :class => [:tiny, :secondary, :button]
                    
= paginate @pitches
