%h2 Your Pitch
%p You have pitched on #{holiday_summary(@holiday)}

-if cannot? :edit, @pitch
  .panel
    %strong The customer has already seen this pitch so it cannot be edited.

%ul.button-group
  %li= link_to 'View this Holiday', [:agent, @pitch.holiday], :class => :button
  -if can? :edit, @pitch
    %li= link_to 'Edit', edit_agent_holiday_pitch_path(@pitch.holiday, @pitch), :class => [:alert, :button]
    %li= link_to 'Delete', [:agent, @pitch.holiday, @pitch], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => [:alert, :button]

%p 
  %b Ref: #{@pitch.ref}
  
%p 
  %b Min: &pound;#{@pitch.min}
%p
  %b Max: &pound;#{@pitch.max}
%p
  %b Expertise: #{@pitch.expertise}

-unless @pitch.content.blank?
  %blockquote #{@pitch.content}




