%h2 Your Pitch
%p You have pitched on a holiday to #{(@holiday.region + ", ") unless @holiday.region.blank?} #{@holiday.country.name} for #{@holiday.adults} adults#{" and " + @holiday.children.to_s + " children" if @holiday.children > 0}.
    
  
%p 
  %b Min:
  &pound;#{@pitch.min}
%p
  %b Max:
  &pound;#{@pitch.max}
%p
  %b Expertise:
  = @pitch.expertise

-unless @pitch.content.blank?
  %blockquote #{@pitch.content}

-if can? :edit, @pitch
  = link_to 'Edit', edit_agent_holiday_pitch_path(@pitch.holiday, @pitch), :class => [:alert, :button]
-else
  .panel
    %strong The customer has already seen this pitch so it cannot be edited.
= link_to 'View this Holiday', [:agent, @pitch.holiday], :class => :button
= link_to 'View Pitches', agent_pitches_path, :class => :button
