= form_for @holiday do |f|
  =render partial: 'layouts/shared/form_errors', locals: {subject: @holiday}  
 
  %fieldset
    %legend Destination
    = f.label :country
    = f.collection_select(:country_id, ALL_COUNTRIES, :id, :name, :prompt => true)
    = f.label :region
    = f.text_field :region, :placeholder => "Optional"

  %fieldset
    %legend When
    = f.label :nights
    = f.number_field :nights, :min => 1, :max => 9999
    .row
      .small-5.large-5.columns
        = f.label :earliest_date, "Earliest date you would like to depart"
        = f.date_field :earliest_date
      .small-5.large-5.columns
        = f.label :latest_date, "Latest date you would like to get back"
        = f.date_field :latest_date

  %fieldset
    %legend Budget
    = f.label :budget, "What is the budget for your holiday?"
    .row.collapse
      .small-1.large-1.columns
        %span.prefix &pound;
      .small-11.large-11.columns
        = f.number_field :budget, :min => 1

    = f.radio_button(:ballpark, 1, :checked => @holiday.ballpark? )
    = f.label :ballpark_1, "This budget represents a ballpark figure."
    %br
    = f.radio_button(:ballpark, 0, :checked => !@holiday.ballpark?  ) 
    = f.label :ballpark_0, "This budget represents the absolute maximum I want to pay."
    %br
    = f.check_box :include_travel
    = f.label :include_travel, "Check this box if you also require travel"
    

  %fieldset
    %legend Who is going?
    = f.label :adults
    = f.number_field :adults, :min => 0, :max => 9999
    = f.label :children, "Children (0-17)"
    = f.number_field :children, :min => 0, :max => 9999

  %fieldset
    %legend Miscellaneous Details
    = f.label :description
    = f.text_area :description, :placeholder => "Optional", :style => "height:150px;"
  
  = f.submit 'Save', :class => [:alert, :button]
  = link_to 'Cancel', holidays_path, :class => :button
