%h1 Listing holidays

= paginate @holidays

- if can? :create, Holiday
  = link_to 'New Holiday', new_holiday_path, :class => :button
- else
  %p You have already created #{Holiday::MAX_HOLIDAYS_PER_TRAVELLER} holidays, delete some to create more.

%table
  %thead
    %tr
      %th Country
      %th Nights
      %th Earliest date
      %th Latest date
      %th Budget
      %th Passengers
      %th Pitches
      %th Status
      %th
  %tbody
    - @holidays.each do |holiday|
      %tr
        %td 
          = link_to holiday do
            = flag_for holiday.country
            = holiday.country.iso_2
          = "(#{holiday.region})" unless holiday.region.blank?
        %td= holiday.nights
        %td= holiday.earliest_date
        %td= holiday.latest_date
        %td= holiday.budget_summary
        %td= holiday.pax_summary
        %td
          = holiday.pitches.size
          - if @holidays_with_unseen_pitches.include? holiday.id 
            %span.label New
        %td
          =holiday.open? ? content_tag(:span, "Open", :class => [:label]) : content_tag(:span, "Closed", :class => [:alert, :label]) 
        %td 
          =link_to holiday, :class => [:tiny, :secondary, :button] do
            =icon "edit"
            Manage
 
= paginate @holidays

