%h1 Listing holidays

= link_to 'New Holiday', new_holiday_path, :class => :button

%table
  %thead
    %tr
      %th Country
      %th Nights
      %th Earliest date
      %th Latest date
      %th Budget
      %th Adults
      %th Children
      %th Pitches
      %th
  %tbody
    - @holidays.each do |holiday|
      %tr
        %td 
          = flag_for holiday.country
          = holiday.country.iso_2
          = "(#{holiday.region})" unless holiday.region.blank?
        %td= holiday.nights
        %td= holiday.earliest_date
        %td= holiday.latest_date
        %td
          =raw "&pound;#{holiday.budget} (#{budget_type(holiday)})"
        %td= holiday.adults
        %td= holiday.children
        %td
          = holiday.pitches.size
          -if holiday.has_new_pitches?
            %strong NEW!
            
        %td 
          %ul.button-group.radius.round
            %li #{link_to 'Show', holiday, :class => [:tiny, :secondary, :button]}
            -if can? :edit, holiday
              %li #{link_to 'Edit', edit_holiday_path(holiday), :class => [:tiny, :secondary, :button]}
            %li #{link_to 'Destroy', holiday, :class => [:tiny, :secondary, :button], :method => :delete, :data => { :confirm => 'Are you sure?' } }
