%p
  %b Country:
  = @holiday.country.name 
  = "(#{@holiday.country.iso_2})"
%p
  %b Region:
  = @holiday.region
%p
  %b Nights:
  = @holiday.nights
%p
  %b Earliest date:
  = @holiday.earliest_date
%p
  %b Latest date:
  = @holiday.latest_date
%p
  %b Budget:
  = @holiday.budget
%p
  %b Ballpark?:
  = @holiday.ballpark?
%p
  %b Adults:
  = @holiday.adults
%p
  %b Children:
  = @holiday.children
%p
  %b Includes Travel?:
  = @holiday.include_travel?
%p
  %b Description:
  = @holiday.description

= link_to 'Edit', edit_holiday_path(@holiday), :class => :button unless @holiday.pitches.any?
= link_to 'Back', holidays_path, :class => :button

%h1 Listing pitches

- unless @holiday.pitches.any?
  .panel
    No pitches yet!
- else
  %table
    %tr
      %th Agent
      %th Min
      %th Max
      %th Expertise
      %th Status
      %th
  
    - @holiday.pitches.each do |pitch|
      %tr
        %td= pitch.agent.agent_detail.name
        %td= pitch.min
        %td= pitch.max
        %td= pitch.expertise
        %td= pitch.status
        %td= link_to 'Show', [@holiday, pitch], :class => "tiny round secondary button"
