%h3 #{flag_for(@holiday.country)} Your Holiday in #{@holiday.country.name}
.row.collapse
  .small-6.large-6.columns
    %dl
      %dt
        Passengers 
      %dd
        =holiday_pax_summary(@holiday)
      %dt
        Duration
      %dd
        =holiday_duration_summary(@holiday)
      %dt
        Approximate Budget
      %dd
        =holiday_budget_summary(@holiday)
      %dt
        Dates
      %dd
        =holiday_date_summary(@holiday)

    %ul.button-group
      %li= link_to 'Edit', edit_holiday_path(@holiday), :class => :button if can? :edit, @holiday 
      %li= link_to 'Destroy', @holiday, :class => [:alert, :button], :method => :delete, :data => { :confirm => 'Are you sure?' } 
      %li= link_to(@holiday.open? ? "Close" : "Reopen", toggle_open_holiday_path, :method => :patch, :id => "toggle_open", :class => [:alert, :button])

  .small-6.large-6.columns
    #map{:style => "width:100%;height:300px;border:solid 1px #DDD;"}

%blockquote
  = @holiday.description



%h4 Pitches
%p This holiday has received #{pluralize(@holiday.pitches.count, "pitch")}.
= paginate @pitches
= render partial: "traveller/pitches/list", locals: { pitches: @pitches }
= paginate @pitches



= content_for :top_page_js do
  =include_cdn :google_maps

= content_for :page_js do
  :coffeescript
    $ ->
      ms = new MapServices "#map"
      ms.render_country("#{@holiday.country.name}")
