%h1 Listing holidays

%dl.sub-nav
  %dt Filter:
  %dd{:class => ("active" unless params[:scope])} 
    =link_to("All", agent_holidays_path)
  %dd{:class => ("active" if params[:scope] == "recent")} 
    =link_to("Recent", controller: "agent/holidays", action: :index, :scope => :recent)
  %dd{:class => ("active" if params[:scope] == "pitched")} 
    =link_to("Pitched", controller: "agent/holidays", action: :index, :scope => :pitched)
  %dd{:class => ("active" if params[:scope] == "unpitched")} 
    =link_to("Unpitched", controller: "agent/holidays", action: :index, :scope => :unpitched)
  %dd 
    =link_to "Search By Country", agent_countries_path


= paginate @holidays

%table
  %thead
    %tr
      %th Country
      %th Nights
      %th Earliest date
      %th Latest date
      %th Budget
      %th Adults
      %th Children
      %th Pitched?
      %th Pitch seen by customer?
      %th Created
      %th Last Updated
      %th
  %tbody
    - @holidays.each do |holiday|
      %tr
        %td 
          = flag_for holiday.country
          = holiday.country.iso_2
          = "(#{holiday.region})" unless holiday.region.blank?
        %td= holiday.nights
        %td= nice_date(holiday.earliest_date)
        %td= nice_date(holiday.latest_date)
        %td
          &pound;#{holiday.budget} <br /> (#{budget_type(holiday)})
        %td= holiday.adults
        %td= holiday.children
        -if @holiday_ids_with_pitch.include? holiday.id
          %td= nice_boolean(true)
          %td= nice_boolean(@holiday_ids_with_seen_pitch.include? holiday.id) 
        -else
          %td= nice_boolean(false)
          %td= content_tag :span, "N/A", class: [:label, :secondary]
        %td= nice_date(holiday.created_at)
        %td= nice_date(holiday.updated_at)
        %td= link_to 'Show', [:agent, holiday], :class => [:tiny, :round, :secondary, :button]

= paginate @holidays

