%h1 Listing holidays

%dl.sub-nav
  %dt Filter:
  %dd{:class => ("active" unless params[:scope])} 
    =link_to "All", agent_holidays_path
  %dd{:class => ("active" if params[:scope] == "recent")} 
    =link_to "Recent", :scope => :recent
  %dd{:class => ("active" if params[:scope] == "pitched")} 
    =link_to "Pitched", :scope => :pitched
  %dd{:class => ("active" if params[:scope] == "unpitched")} 
    =link_to "Unpitched", :scope => :unpitched
  %dd{:class => ("active" if params[:scope] == "favourites")} 
    =link_to "In Favourite Countries", :scope => :favourites
  %dd 
    =link_to "Search By Country", agent_countries_path


= paginate @holidays

%table
  %thead
    %tr
      %th= sortable_column "Country", :country_id
      %th= sortable_column "Nights"
      %th= sortable_column "Earliest date", :earliest_date
      %th= sortable_column "Latest date", :latest_date
      %th= sortable_column "Budget"
      %th= sortable_column "Adults"
      %th= sortable_column "Children"
      %th Pitched?
      %th Pitch seen by customer?
      %th Status
      %th= sortable_column "Created", :created_at
      %th= sortable_column "Last Updated", :updated_at
      %th
  %tbody
    - @holidays.each do |holiday|
      %tr
        %td 
          = flag_for holiday.country
          = holiday.country.iso_2
          = "(#{holiday.region})" unless holiday.region.blank?
        %td= holiday.nights
        %td= nice_date(holiday.earliest_date)
        %td= nice_date(holiday.latest_date)
        %td= holiday.budget_summary
        %td= holiday.adults
        %td= holiday.children
        -if @holiday_ids_with_pitch.include? holiday.id
          %td= nice_boolean(true)
          %td= nice_boolean(@holiday_ids_with_seen_pitch.include? holiday.id) 
        -else
          %td= nice_boolean(false)
          %td= content_tag :span, "N/A", class: [:label, :secondary]
        %td
          =holiday.open? ? content_tag(:span, "Open", :class => [:label]) : content_tag(:span, "Closed", :class => [:alert, :label]) 

        %td= nice_date(holiday.created_at)
        %td= nice_date(holiday.updated_at)
        %td= link_to 'View', [:agent, holiday], :class => [:tiny, :secondary, :button]

= paginate @holidays

