%h3 Potential Customer Holiday
%ul
  %li
    #{@holiday.nights} nights in #{@holiday.region + ", " if @holiday.region} #{@holiday.country.name} between #{@holiday.earliest_date} and #{@holiday.latest_date}.
  %li
    Budget is #{@holiday.ballpark? ? "in the region of" : "a maximum of"} &pound;#{@holiday.budget}, 
    #{" not " unless @holiday.include_travel?} including travel.
  %li
    #{@holiday.adults} adults #{"and " + @holiday.children.to_s + " children" if @holiday.children > 0} are going.
%blockquote
  = @holiday.description

-if can? :pitch, @holiday
  =link_to "Pitch!", pitch_agent_holiday_path(@holiday), :class => "alert button"
-else
  .panel You have already pitched on this holiday!

= link_to 'Back', agent_holidays_path, :class => :button
