%h3 
  = flag_for @holiday.country
  Holiday in #{@holiday.country.name}

=render("agent/pitches/panel")


.row.collapse
  .small-6.large-6.columns
    %dl
      %dt
        Pax 
      %dd
        =holiday_pax_summary(@holiday)
      %dt
        Duration
      %dd
        =holiday_duration_summary(@holiday)
      %dt
        Budget
      %dd
        =holiday_budget_summary(@holiday)
      %dt
        Dates
      %dd
        =holiday_date_summary(@holiday)

  .small-6.large-6.columns
    #map{:style => "width:100%;height:300px;border:solid 1px #DDD;"}
  -if can? :pitch, @holiday
    =link_to "Pitch!", pitch_agent_holiday_path(@holiday), :class => "alert button"

.row
  %blockquote
    = @holiday.description

%br


= content_for :top_page_js do
  =include_cdn :google_maps

= content_for :page_js do
  :coffeescript
    $ ->
      ms = new MapServices "#map"
      ms.render_country("#{@holiday.country.name}")

