= form_for @agent_detail, :url => agent_detail_path, :method => :patch do |f|
  
  =render partial: 'layouts/shared/form_errors', locals: {subject: @agent_detail}  

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address_1, "Address Line 1"
    = f.text_field :address_1
  .field
    = f.label :address_2, "Address Line 2"
    = f.text_field :address_2, :placeholder => "Optional"
  .field
    = f.label :town, "Town / City"
    = f.text_field :town
  .field
    = f.label :county
    = f.text_field :county, :placeholder => "Optional"
  .field
    = f.label :postcode
    = f.text_field :postcode
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :main_phone, "Main Phone Number"
    = f.telephone_field :main_phone
  .field
    = f.label :alt_phone, "Alternative Phone Number"
    = f.telephone_field :alt_phone, :placeholder => "Optional"
  .field
    = f.label :fax
    = f.telephone_field :fax, :placeholder => "Optional"
  .field
    = f.label :website
    = f.url_field :website, :placeholder => "Optional"
  .field
    = f.label :managers_name, "Manager's Name"
    = f.text_field :managers_name, :placeholder => "Optional"
  .field
    = f.label :opening_hours, "Opening Hours"
    = f.text_field :opening_hours, :placeholder => "Optional"
  .field
    = f.label :description
    = f.text_area :description, :style => "height:200px;", :placeholder => "e.g. how long have you been trading for, what countries or types of holiday do you specialize in?"
  .actions
    = f.submit 'Save', :class => :button
    = link_to 'Cancel', agent_detail_path, :class => :button
