- unless pitches.any?
  .panel
    No pitches yet, check back in a few days.
- else
  %table
    %tr
      %th Agent
      %th Ref
      %th Min
      %th Max
      %th Expertise
      %th Status
      %th
  
    - pitches.each do |pitch|
      %tr
        %td 
          -unless pitch.seen?
            %span.label New
          =pitch.agent.agent_detail.name
        %td= pitch.ref
        %td &pound;#{pitch.min}
        %td &pound;#{pitch.max}
        %td= pitch.expertise
        %td= pitch.status
        %td 
          =link_to 'Show', [pitch.holiday, pitch], :class => "tiny round secondary button"
